/* Style the whole page */
*{
    box-sizing: border-box;
}

/* Style the top navigation bar */
.topnav{
    background-color: #ccc;
    padding-left: 0;
    width: 100%;
    overflow: auto;
    height: 7%;
}

.topnav li{
    display: block;
    float: left;
    padding: 15 5;
    overflow: auto;
}

.topnav li:nth-child(n+3){
    float: right;
}

/* Style the sign-in button */
#sign-in{
    height: 30px;
    width: 70px;
    background-image: url('../images/sign_in.png'); 
    background-size: 100% 100%;
}

/* Add hover effect for the navigation links */
.topnav li a:visited{
    color: black;
}

.topnav li a{
    text-decoration: none;
}

.topnav li a:hover{
    text-decoration: underline;
}

/* Add hover effect for the apps-icon */
.topnav li a span{
    color: grey;
}

.topnav li:nth-child(4):hover a span{
    color: black;
}

/* Style the center */
.center{
    display: inline-block;
    text-align: center;
    padding-top: 7%;
    width: 100%;
    height: 82%;
}

.center *{
    margin-top: 30;
}

/* Style the search box */
#searchbox{
    box-sizing: border-box;
    width: 40%;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 50px;
    margin-left: 30%;
    padding: 10 3;
}

#searchbox *{
    float: left;
    margin: 0;
    height: 23px;
}

.center button{
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 10 20;
    margin-right: 7px;
    background-color: rgb(236, 236, 236);
    color: rgba(0, 0, 0, 0.568);
}

.center button:hover{
    box-shadow: 1px 1px 1px lightgray;
    border: 1px solid rgba(0, 0, 0, 0.103);
}

#searchbox:hover{
    box-shadow: 0 2px 4px darkgray;
}
/* Remove the border from the input field */
input:focus{
    outline: none;
}

/* Style the footer */
.footer{
    width: 100%;
    height: 7%;
    padding-left: 0;
    background-color: #ccc;
}

.footer li{
    display: block;
    float: left;
    padding: 15 5;
}